---
import { defaultLang } from '../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import ServiceItem from '../ServiceItem.astro';
import OA from '../../images/simulations/ocean-acidification.png';
import OC from '../../images/simulations/oscillating-charge.png';
import TR from '../../images/simulations/thermal-radiation.png';
import RA from '../../images/simulations/radiation-absorption.png';
import GM from '../../images/simulations/global-model.png';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// item id is necessary for standalone preview
const qs = `?lang=${lang}`;
---

<div
  id="physics"
  class="container-fluid"
  style={{ backgroundColor: '#035603', opacity: '0.7', color: 'white' }}
>
  <div class="container">
    <div class="flexbox" style={{ alignItems: 'center' }}>
      <h2 class="text-center my-5">{t('PHYSICS_SIMULATIONS_TITLE')}</h2>
      <div
        class="row"
        style={{
          width: '100%',
          boxSizing: 'border-box',
          display: 'flex',
          justifyContent: 'center',
        }}
      >
        <ServiceItem
          title={t('Oscillating charge')}
          description={t('OSCILLATING_CHARGE_DESCRIPTION')}
          web={`https://apps.graasp.org/4b63857b-1bd9-44cf-a72d-4fb7ff531b13/latest/index.html${qs}`}
          github="https://github.com/graasp/graasp-app-radiating-charge"
          thumbnailSrc={OC.src}
          tutorialLinks={{
            en: '/tutorials/oscillating_charge_en.pdf',
            fr: '/tutorials/oscillating_charge_fr.pdf',
          }}
        />
        <ServiceItem
          title={t('Thermal radiation')}
          description={t('THERMAL_RADIATION_DESCRIPTION')}
          web={`https://apps.graasp.org/ff4d50d9-1370-4707-a460-02a041474579/latest/index.html${qs}`}
          github="https://github.com/graasp/graasp-app-thermal-radiation"
          thumbnailSrc={TR.src}
          tutorialLinks={{
            en: '/tutorials/thermal_radiation_en.pdf',
            fr: '/tutorials/thermal_radiation_fr.pdf',
          }}
        />
        <ServiceItem
          title={t('GREENHOUSE_EFFECT_TITLE')}
          description={t('RADIATION_ABSORPTION_DESCRIPTION')}
          web={`https://apps.graasp.org/35288bda-d787-42f9-b5d6-110d689d0eda/latest/index.html${qs}`}
          github="https://github.com/graasp/graasp-app-radiation-absorption"
          thumbnailSrc={RA.src}
          tutorialLinks={{
            en: '/tutorials/greenhouse_effect_en.pdf',
            fr: '/tutorials/greenhouse_effect_fr.pdf',
          }}
        />
        <ServiceItem
          title={t('GLOBAL_MODEL_TITLE')}
          description={t('GLOBAL_MODEL_DESCRIPTION')}
          web={`https://apps.graasp.org/f61d6916-be33-4c63-b697-2c7b09a7b8e5/latest/index.html${qs}`}
          github="https://github.com/graasp/graasp-app-greenhouse-effect"
          thumbnailSrc={GM.src}
          tutorialLinks={{
            en: '/tutorials/global_model_en.pdf',
            fr: '/tutorials/global_model_fr.pdf',
          }}
        />
        <ServiceItem
          title={t('OCEAN_ACIDIFICATION_TITLE')}
          description={t('OCEAN_ACIDIFICATION_DESCRIPTION')}
          web={`https://graasp.github.io/graasp-app-ocean-acidification${qs}`}
          github="https://github.com/graasp/graasp-app-ocean-acidification"
          thumbnailSrc={OA.src}
          tutorialLinks={{
            en: '/tutorials/acidification_en.pdf',
            fr: '/tutorials/global_model_fr.pdf',
          }}
        />
      </div>

      <p class="text-wrapper">
        {
          t(
            '* Recommended pedagogical prerequisites: Concepts of electric charges, atoms, molecules, energy, and power',
          )
        }
      </p>
    </div>
  </div>
</div>

<style>
  .text-wrapper {
    margin: 20px 0;
  }
</style>
