---
interface Props {
  title: string;
  description: string;
  web: string;
  github: string;
  thumbnailSrc: string;
}
const { title, description, web, github, thumbnailSrc } = Astro.props;

import { Image } from 'astro:assets';

import AiFillGithub from '../images/github_icon.svg';
import BiWorld from '../images/link_icon.svg';
---

<div
  class="col-xl-4 col-md-6 col-sm-12 p-3"
  style={{
    boxSizing: 'border-box',
    textAlign: 'center',
  }}
>
  <div
    class="p-3 gap-3"
    style={{
      width: '100%',
      boxSizing: 'border-box',
      background: 'green',
      height: '100%',
      borderRadius: '20px',
      alignItems: 'center',
      display: 'flex',
      justifyContent: 'center',
    }}
  >
    <div>
      <img
        class="mb-2"
        alt={`${title} thumbnail`}
        src={thumbnailSrc}
        width={100}
        height={100}
        style={{
          borderRadius: '15px',
          objectFit: 'cover',
          objectPosition: '20% 0',
        }}
      />
      <div>
        <a
          href={web}
          style={{ color: 'white' }}
          target="_blank"
          rel="noreferrer"
        >
          <Image
            alt={`${title} link`}
            src={BiWorld}
            width={24}
            style={{ marginRight: '2.5px' }}
          />
        </a>
        <a
          href={github}
          style={{ color: 'white' }}
          target="_blank"
          rel="noreferrer"
        >
          <Image
            alt={`${title} github link`}
            src={AiFillGithub}
            width={24}
            style={{ marginLeft: '2.5px' }}
          />
        </a>
      </div>
    </div>
    <div style={{ textAlign: 'left' }}>
      <h3>
        <a
          href={web}
          class="appTitle"
          target="_blank"
          rel="noreferrer noopener"
        >
          {title}
        </a>
      </h3>
      <p style={{ color: 'white' }}>{description}</p>
    </div>
  </div>
</div>

<style>
  .appTitle {
    color: #d6f0d2;
    text-decoration: none;
  }

  .appTitle:hover {
    color: #7e9fb5;
    text-decoration: none;
  }
</style>
