---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import 'bootstrap/dist/css/bootstrap.css';
import graaspLogo from '../images/graasp.svg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const title = 'Graasp Climate';
const description = t(`TITLE`);
const author = `Graasp`;
const keywords = [
  t('education'),
  'graasp',
  t('climate change'),
  t('interactive applications'),
  t('simulations'),
  t('physics'),
  t('chemistry'),
];

const GA_MEASUREMENT_ID = import.meta.env.PUBLIC_GA_MEASUREMENT_ID;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />

    <link rel="icon" type="xml/svg" href={graaspLogo.src} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="keywords" content={keywords.join(',')} />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Google analytics -->
    <script
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}
    ></script>
    <script>
      // library for mobile menu to open
      import 'bootstrap/js/dist/collapse.js';
    </script>
    <script type="text/partytown" define:vars={{ GA_MEASUREMENT_ID }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', GA_MEASUREMENT_ID);
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
</style>
